{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% for product in products %}
            <div class="card product_size d-inline-block">
              <img src="{{ product.thumbnail.url }}" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ product.name}}</h5>
                <p class="card-text">{{ product.description | truncatewords:5 }}</p>
              </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
