{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
{#    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />#}
{#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body class="bg-body-tertiary">

    {% include 'inc/navbar.html' %}
    {% include 'inc/message.html' %}
    {% block content %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.js' %}"></script>

</body>
</html>
