<nav class="navbar navbar-expand-lg bg-white px-5">
  <div class="container-fluid">
    <div class="collapse navbar-collapse px-5 m-2" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn btn-outline-success btn_login">ورود</button>
        </li><li class="nav-item">
          <button type="button" class="btn btn-outline-secondary mx-2 btn_sign_up">ثبت نام</button>
        </li><li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">صفحه اصلی</a>
        </li><li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">فیلم ها</a>
        </li><li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">پادکست ها</a>
        </li>
      </ul>

{#        <a class="mg-logo">Home</a>#}

    </div>
  </div>
</nav>
